body{
    font-family: arial, helvetica, sans-serif;
}

#container{
    width:1000px;
    margin:0px auto;
}

#header{
    height: 100px;
    padding: 10px 0px;
}

#brand{
    float: left;  
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none;
}
#searchBox{
    float: right;
    background: linear-gradient(#E4F2B9,#B7E953);
    -webkit-background: linear-gradient(#E4F2B9,#B7E953);
    -o-background: linear-gradient(#E4F2B9,#B7E953);
    -moz-background: linear-gradient(#E4F2B9,#B7E953);
    -ms-background: linear-gradient(#E4F2B9,#B7E953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
}

.text{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background: white url(images/search.png) right center no-repeat;
    border: 1px solid #c8d03e;
}

.submit{
    font-size: 15px;
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    
}

.clear{
    clear: both;
}

#menu{
 height: 70px;
 background: linear-gradient(#F8F594, #D5D533);
 -webkit-background: linear-gradient(#F8F594, #D5D533);
 -ms-background: linear-gradient(#F8F594, #D5D533);
 -o-background: linear-gradient(#F8F594, #D5D533);
 -moz-background: linear-gradient(#F8F594, #D5D533);
 padding: 7px 0px;
}

ul{
    list-style: none;
}

#menu ul li{
    float: left;
    padding: 0px 30px;
    height: 30px;
    border-right: 1px solid #5D12e7;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5D12e7;
    line-height: 30px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a.active {
    font-size: 20px;
    font-weight: bold;
    color:#B314DB;
}

#introduction{
    background: linear-gradient(#E5F2BB,#B7E952);
    padding: 30px;
    margin: 16px 0px;
}

#introduction h3{
    font-size: 45px;
    color: #316901;
    font-weight: normal;
}

#introduction p{
    font-size: 25px;
    color: #628F19;
    text-align: justify
}

.sidebar{
    height:500px;
    width: 400px;
    border: 1px solid #baf46f;
    border-radius: 20px;
    padding: 10px 30px;
}
.sidebar h3{
    color: #b314db;
    font-size: 30px;
}

.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
}

#Sidebar ul{
    padding-top:8px; 
}

#leftSidebar ul li{
    padding: 4px 0px 4px 10px;
    list-style-image: url(images/arrow.png);
}

#rightSidebar ul li {
    background: url(images/right_tick.png) no-repeat left center;
    padding: 17px 0px 17px 70px;
    
}

.sidebar ul li a:hover, .sidebar ul li a:active{
    text-decoration: none;
    font-size: 23px;
    color: #b314db;
    font-weight: bold;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

#leftSidebar{
    float: left;
    
}

#rightSidebar{
    float: right;
}

.footer{
    height: 60px;
    background: linear-gradient(#f6f390,#d5d533);
    -wibkit-background: linear-gradient(#f6f390,#d5d533);
    -o-background: linear-gradient(#f6f390,#d5d533);
    -ms-background: linear-gradient(#f6f390,#d5d533);
    -moz-background: linear-gradient(#f6f390,#d5d533);
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 20px;
}

.footer p{
   text-align: center;
}