<header ng-controller="accountHeader as header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Message App</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#/profile">Profile</a></li>
                <li><a href="#/message">Message</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="header.logout()"><a href="#/home"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>