<ng-include src="'views/header.html'"></ng-include>

<div class="jumbotron" id="login">
    <h1 class="title2">Login</h1>
    <form novalidate class="form-horizontal" name="loginForm" >
        <div class="form-group">
            <label for="username" class="control-label col-sm-2">Enter Username </label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="username" placeholder="Username" ng-required="true" id="username" ng-model="login.customer.username">
                <span ng-show="loginForm.username.$touched && loginForm.username.$invalid" class="invalid">Please enter a valid Username</span>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-sm-2">Enter Password </label>
            <div class="col-sm-10">
                <input class="form-control" type="password" name="password" placeholder="Password" ng-required="true" id="password"  ng-model="login.customer.password">
                <span ng-show="loginForm.password.$touched && loginForm.password.$invalid" class="invalid">Please enter a valid Password</span>
            </div>
        </div>

         <div class="col-sm-offset-2">

            <input type="submit" value="Login" class="btn btn-success btn-block" ng-click="login.validateUserDetails()">

        </div>

    </form>
</div>

