<ng-include src="'views/header.html'"></ng-include>

<div class="jumbotron" id="signup">
    <h2 class="title2">Signup</h2>
    <form class="form-horizontal" name="signupForm" novalidate>
        <div class="form-group">
            <label for="firstname" class="control-label col-sm-2">First Name </label>
            <div class="col-sm-10">
                <input type="text" name="firstname" placeholder="Firstname" ng-required="true" id="firstname" class="form-control" ng-model="signup.user.firstname">
                
                <span ng-show="signupForm.firstname.$touched && signupForm.firstname.$invalid" class="invalid">Please enter a valid First Name</span>
                
                <span id="invalidFirstname" style="display:none;" class="invalid">First Name cannot have numbers, symbols and length is less than 20</span>
                
            </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="control-label col-sm-2">Last Name </label>
            <div class="col-sm-10">
                
                <input type="text" name="lastname" placeholder="Lastname" ng-required="true" id="lastname" class="form-control" ng-model="signup.user.lastname">
                
                <span ng-show="signupForm.lastname.$touched && signupForm.lastname.$invalid" class="invalid">Please enter a valid Last Name</span>
                
                <span id="invalidLastname" style="display:none;" class="invalid">Last Name cannot have numbers, symbols and length is less than 20</span>
                
            </div>
        </div>

        <div class="form-group">
            
            <label for="username" class="control-label col-sm-2">Username </label>
            <div class="col-sm-10">
                
                <input type="text" name="username" placeholder="Username" ng-required="true" id="username" class="form-control" ng-model="signup.user.username">
                
                <span ng-show="signupForm.username.$touched && signupForm.username.$invalid" class="invalid">Please enter a valid Username</span>
                
                <span id="invalidusername" style="display:none;" class="invalid">Max length is 20</span>
                
                <span id="userNameAlreadyUsed" style="display:none;" class="invalid">Username already used...!!!</span>
                
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="control-label col-sm-2">Email </label>
            <div class="col-sm-10">
                <input type="email" name="email" placeholder="Email" ng-required="true" id="email" class="form-control" ng-model="signup.user.email">
                
                <span ng-show="signupForm.email.$touched && signupForm.email.$invalid" class="invalid">Please enter a valid Email</span>
                
                <span id="invalidEmail" style="display:none;" class="invalid">Please enter a valid Email</span>
                
                <span id="emailAlreadyUsed" style="display:none;" class="invalid">Email already used...!!!</span>
                
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-sm-2">Password </label>
            <div class="col-sm-10">
                
                <input type="password" name="password" placeholder="Password" ng-required="true" id="password"  class="form-control" ng-model="signup.user.password">
                
                <span ng-show="signupForm.password.$touched && signupForm.password.$invalid" class="invalid">Please enter a valid Password</span>
                
                <span id="invalidPassword" style="display:none;" class="invalid">Please enter a Password with min 6 - max 15 characters !!!</span>
                
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="control-label col-sm-2">Confirm Password </label>
            <div class="col-sm-10">
                
                <input type="password" name="confirmPassword" placeholder="Confirm Password" ng-required="true" id="confirmPassword" class="form-control" ng-model="signup.user.confirmPassword">
                
                <span ng-show="signupForm.confirmPassword.$touched && signupForm.confirmPassword.$invalid" class="invalid">Please enter a valid Password</span>
                
                <span id="invalidConfirmPassword" style="display:none;" class="invalid">Your password does not match. Please try again !!!</span>
                
            </div>
        </div>

        <div class="col-sm-offset-2">

            <input type="submit" value="Sign-up" class="btn btn-success btn-block" ng-click="signup.validateInput()">

        </div>
    </form>
</div>